/* Global or Common CSS style start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
/* Global or Common CSS style end */

/* Navbar section CSS: */
.navbar {
  width: 90%;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px auto;
  padding-top: 20px;

  & div {
    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: #ffffff;
      overflow: hidden;
      font-size: 22px;

      & li {
        display: inline-block;

        & a {
          display: block;
          color: #000000;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-weight: 500;
        }
      }
      & li a:hover {
        background-color: #111;
        color: #ffffff;
        border-radius: 30px;
      }
    }
  }
  .navbar-btn {
    display: flex;
    align-items: center;

    & form {
      & input {
        padding: 11px 28px;
        margin-right: 15px;
        border-radius: 30px;
        border: none;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

/* Banner or Hero section CSS: */
.banner-section {
  width: 100%;
  height: 760px;
  background-image: url("./images/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .banner-center {
    width: 1160px;
    height: 344px;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 44px 94px;
    border-radius: 10px;
    border: 1px solid #000000;

    & h1 {
      text-align: center;
      font-weight: 500;
      font-size: 45px;
      margin-bottom: 55px;
    }

    .custom-select {
      .custom-select-option {
        width: 220px;
        padding: 11px 20px;
        border-radius: 8px;
        margin-right: 18px;
        background-color: #ececec;
        height: auto;
        font-weight: 500;
        font-size: 22px;
        border: none;
        cursor: pointer;

        & option {
          font-size: 24px;
        }
      }
    }
  }

  & form {
    margin-top: 24px;
    & input[type="search"] {
      background-color: #ececec;
      width: 702px;
      height: 50px;
      padding: 12px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 8px;
      text-align: center;
      color: #000000;
      font-size: 22px;
      font-weight: 500;
    }
    & input[type="submit"] {
      background-color: #00ebc7;
      width: 222px;
      height: 50px;
      padding: 12px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 30px;
      color: #000000;
      font-size: 22px;
      font-weight: 600;
      margin-left: 18px;
      margin-right: 11px;
      cursor: pointer;
    }
  }

  .banner-zapper-btn {
    background-color: transparent;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    padding: 11px 28px;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 500;

    & hr {
      border-color: #ffffff;
      margin-top: 0;
    }
  }
}

/* Buying section CSS: */
.buying-section {
  width: 100%;
  height: 370px;
  background-color: #fde24f;
  text-align: center;
  padding: 80px 145px;

  & h2 {
    margin-bottom: 48px;
    font-size: 34px;
    font-weight: 500;

    & i {
      font-weight: 400;
    }
  }
  & img {
    cursor: pointer;
  }
}

/* Features section CSS: */
.features-section {
  width: 100%;
  height: 780px;

  & div {
    align-items: start;
    padding-top: 80px;
    padding-left: 65px;

    & h2 {
      font-size: 34px;
      font-weight: 500;
      color: #000000;
    }
  }

  .features-main {
    padding-left: 0%;
  }

  & div {
    .features-details {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 0 auto;
      padding: 0%;

      & div {
        /* border: 1px solid black; */
        padding: 10px;
        width: 320px;
        height: 289px;
        text-align: center;

        & h3 {
          font-size: 24px;
          font-weight: 500;
          color: #000000;
          margin-top: 15px;
          margin-bottom: 19px;
        }

        & p {
          font-size: 20px;
          font-weight: 400;
          color: #535353;
          margin-bottom: 45px;
        }

        & a {
          text-decoration-line: underline;
          color: #161616;
          font-size: 16px;
          font-weight: 600;
        }
      }

      & hr {
        margin-bottom: 45px;
        border-color: #000000;
      }
    }
  }

  .features-btn {
    padding-left: 0%;
    & button {
      padding: 11px 28px;
      background-color: transparent;
      border-radius: 30px;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 52px;
      cursor: pointer;
      transition: 0.3s;
    }

    & button:hover {
      background-color: #6c19ff;
      color: #ffffff;
    }
  }
}

/* Offers section CSS: */
.offers-section {
  width: 100%;
  height: 750px;
  background-color: #f8f8f8;
  padding: 75px 65px;
  .offers-section-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .left-offers-div {
      width: 756px;
      height: 700px;

      & h2 {
        color: #000000;
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 50px;
      }

      .left-offers-main {
        width: 650px;
        height: 368px;
        margin: 0 auto;

        & div {
          width: 650px;
          height: 100px;
          display: flex;
          align-items: center;
          gap: 33px;
          border: 1px solid #000000;
          border-radius: 15px;
          padding: 13px 79px 13px 20px;
          margin-bottom: 34px;
          background-color: #ffffff;

          & h4 {
            color: #000000;
            font-size: 20px;
            font-weight: 500;
            .offers-middle-text {
              margin: 34px 0;
            }
          }
        }
      }

      .btn-div {
        position: relative;
        text-align: center;
        border: none;

        & button {
          margin-top: 150px;
          text-align: center;
          padding: 11px 28px;
          color: #ffffff;
          background-color: #000000;
          border-radius: 15px;
          font-size: 22px;
          font-weight: 500;
          border: none;
          cursor: pointer;
        }
      }
    }

    .right-offers-div {
      width: 756px;
      height: 700px;

      & h2 {
        color: #000000;
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 50px;
      }

      .right-offers-main {
        width: 650px;
        height: 368px;
        margin: 0 auto;
        & div {
          width: 650px;
          height: 100px;
          display: flex;
          align-items: center;
          gap: 33px;
          border: 1px solid #000000;
          border-radius: 15px;
          padding: 13px 79px 13px 20px;
          margin-bottom: 34px;
          background-color: #ffffff;

          & h4 {
            color: #000000;
            font-size: 20px;
            font-weight: 500;
            .offers-middle-text {
              margin: 34px 0;
            }
          }
        }
      }

      .btn-div {
        position: relative;
        text-align: center;
        border: none;

        & button {
          text-align: center;
          padding: 11px 28px;
          color: #ffffff;
          background-color: #000000;
          border-radius: 15px;
          font-size: 22px;
          font-weight: 500;
          border: none;
          cursor: pointer;
          margin-top: 150px;
        }
      }
    }

    .vl {
      border-left: 6px solid #000000;
      height: 752px;
      position: relative;
      left: 0%;
      margin-top: -103px;
      border-width: 0px 1px 1px 0px;
      border-style: solid;
      border-color: #000000;
    }
  }
}

/* Crypto section CSS: */
.crypto-section {
  width: 100%;
  height: 600px;
  background-color: #cfbaff;
  text-align: center;

  & h1 {
    font-size: 75px;
    font-weight: 500;
    color: #000000;
    padding: 161px 70px 127px;
  }

  & button {
    padding: 15px 45px;
    border-radius: 30px;
    background-color: #000000;
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }

  & button:hover {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Footer section CSS: */
footer {
  width: 100%;
  height: 730px;
  background-color: #000000;
  color: #ffffff;

  .footer-upper-section {
    .footer-links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      align-items: center;
      margin: 0px auto;
      padding: 150px 100px 150px 100px;

      & div {
        width: 200px;
        height: 300px;

        & img {
          cursor: pointer;
        }

        & h2 {
          font-size: 28px;
          font-weight: 600;
          margin-bottom: 32px;
        }

        & ul {
          list-style: none;
          padding: 0;
          margin: 0;
          overflow: hidden;
          font-size: 20px;
          font-weight: 600;

          & li {
            display: inline-block;
            cursor: pointer;
            margin-bottom: 13px;
          }
        }
      }
    }
  }

  & hr {
    height: 1px;
    background-color: #ffffff;
    border: none;
  }

  .footer-lower-section {
    & p {
      color: #ffffff;
      font-size: 13px;
      font-weight: 500;
      padding: 40px 251px;
      text-align: justify;
    }
  }
}

/* ! Responsive:(for mobile devise only) */
@media (max-device-width: 767px) {
  /* Navbar section CSS: */
  .navbar {
    .navbar-link-div {
      display: none;
    }

    & div {
      .main-navbar-logo {
        width: 80%;
      }
    }
    .navbar-btn {
      & form {
        & input {
          height: 35px;
          padding: 5px 11px;
          margin-right: 4px;
          border-radius: 15px;
          font-size: 10px;
        }
      }
    }
  }

  /* Banner or Hero section CSS: */
  .banner-section {
    width: 100%;
    height: 860px;

    .banner-center {
      width: 100%;
      height: 544px;
      background-color: #ffffff;
      border-radius: 0px;
      padding: 30px 0px 0px 0px;

      & h1 {
        font-size: 35px;
        margin-bottom: 25px;
      }

      .custom-select {
        .custom-select-option {
          vertical-align: middle;
          width: 200px;
          padding: 11px 20px;
          margin: 10px;
          border-radius: 8px;
          margin-right: 18px;
          background-color: #ececec;
          height: auto;
          font-weight: 500;
          font-size: 10px;
          border: none;
          cursor: pointer;

          & option {
            font-size: 10px;
            width: 10px;
          }
        }
      }
    }

    & form {
      text-align: center;
      margin-top: 24px;
      & input[type="search"] {
        width: 100%;
        height: 50px;
        padding: 12px 18px;
        margin: 8px 0;
        text-align: center;
        font-size: 15px;
      }
      & input[type="submit"] {
        width: 200px;
        height: 50px;
        padding: 12px 18px;
        margin: 8px 0;
        font-size: 15px;
      }
    }

    .banner-zapper-btn {
      bottom: 4%;
      right: 50%;
      transform: translate(50%, -50%);
      font-size: 15px;

      & hr {
        border-color: #ffffff;
        margin-top: 0;
      }
    }
  }

  /* Buying section CSS: */
  .buying-section {
    width: 100%;
    height: 300px;
    padding: 80px 15px;

    & h2 {
      font-size: 15px;
    }
    & img {
      width: 100%;
      height: auto;
    }
  }

  /* Features section CSS: */
  .features-section {
    width: 100%;
    height: auto;

    & div {
      align-items: center;

      & h2 {
        font-size: 34px;
      }
    }

    .features-main {
      padding-left: 0%;
    }

    & div {
      .features-details {
        flex-direction: column;

        & hr {
          margin-top: 45px;
        }
      }
    }
  }

  /* Offers section CSS: */
  .offers-section {
    width: 100%;
    height: auto;
    padding: 10px;
    .offers-section-main {
      justify-content: space-between;
      flex-direction: column;
      margin: 0 auto;

      .left-offers-div {
        width: 100%;
        height: auto;

        & h2 {
          font-size: 24px;
          margin-bottom: 50px;
        }

        .left-offers-main {
          width: 100%;
          height: auto;
          text-align: center;

          & h2 {
            margin-top: 20px;
            font-size: 34px;
          }

          & div {
            width: 100%;
            height: auto;
            gap: 10px;
            padding: 13px 0px 13px 20px;
            margin-bottom: 34px;
            background-color: #ffffff;

            & h4 {
              font-size: 14px;
              .offers-middle-text {
                margin: 34px 0;
              }
            }
          }
        }

        .btn-div {
          & button {
            margin-top: 10px;
          }
        }
      }

      .right-offers-div {
        width: 100%;
        height: auto;

        & h2 {
          font-size: 34px;
          margin-bottom: 50px;
        }

        .right-offers-main {
          width: 100%;
          height: auto;
          text-align: center;

          & h2 {
            margin-top: 30px;
          }

          & div {
            width: 100%;
            height: auto;
            gap: 10px;
            padding: 13px 0px 13px 20px;

            & h4 {
              font-size: 14px;
              .offers-middle-text {
                margin: 34px 0;
              }
            }
          }
        }

        .btn-div {
          & button {
            margin-top: 10px;
            margin-bottom: 30px;
          }
        }
      }

      .vl {
        display: none;
      }
    }
  }

  /* Crypto section CSS: */
  .crypto-section {
    & h1 {
      font-size: 40px;
      padding: 100px 0px;
      text-align: center;
    }
  }

  /* Footer section CSS: */
  footer {
    width: 100%;
    height: auto;

    .footer-upper-section {
      text-align: center;
      .footer-links {
        flex-direction: column;
        padding: 100px 100px;

        & div {
          & h2 {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 32px;
          }
        }
      }
    }

    & hr {
      height: 1px;
      background-color: #ffffff;
      border: none;
    }

    .footer-lower-section {
      & p {
        padding: 50px 40px;
      }
    }
  }
}
